@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 222.2 84% 4.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-secondary text-black;
  }
}abel{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
@layer components{
  .xas_white{
    @apply bg-white
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fira sans, sans-serif;
}

.main-body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.main-children{
  min-height: 100vh;
}
.container1{
  position: relative;
  background-color: rgb(70, 149, 214);
  width: 500px;
  height: 450px;
  border: 2px solid black;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-bar{
    border: 2px solid;
    padding: 10px 40px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    width: 350px;
  }
.box-heigh{
  height: 150px;
  
}

.title-container{
  padding-bottom: 12px;
  display: inline-block;
}

.description-container{
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.input-btn{
  display: flex;
  position: absolute;
  color: aqua;
  left: 45%;
  cursor: pointer;
  background-color: rgb(87, 83, 83);
  border: 2px solid black;
  box-shadow: 10px;
  padding: 10px 40px 10px 15px;
  border-radius: 10px;
}

.label-title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn{
  border: solid 1px black;
  background-color: #ccc;
  border-radius: 10px;
  width: 60px;
}
.score-label{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title-label{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
el{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
